/*General*/
* {
  margin: 0;
  padding: 0;
  color: #fafaf9;
}
.container {
  background-image: linear-gradient(#57534ed0, #44403cb8),
    url(./pictures/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Navigation*/
.header-container {
  background-color: #404040;
  margin-bottom: 20px;
  border: #292524 solid 5px;
}
.navigation-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.nav-link,
.castle-link {
  text-decoration: none;
}

/*Main*/
.main-container {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}
.main-title {
  text-align: center;

  grid-column: 1 / span 2;
  grid-row: 1;
}
.castles {
  grid-row: 2 / span 3;
  grid-column: 1;
}
/* Images and Paragraphs */
.dover-img,
.warkworth-img {
  border-radius: 30px;
  box-shadow: 8px 5px 15px #e7e5e4b6;
  margin-bottom: 10px;
}

.castle-dover,
.castle-warkworth {
  margin-bottom: 30px;
  margin-left: 10px;
}

/*Aside*/
.aside-container {
  grid-column: 2;
  grid-row: 2 / span 3;
  font-size: 20px;
  background-color: #40404077;
  padding: 20px 20px 20px;
}

/*Footer*/
.container-footer {
  background: #404040;
  border: #292524 solid 5px;
  padding: 10px;
}
.copyright {
  font-style: italic;
  opacity: 0.8;
}
